<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ORT-TP1-sim-p1-2021c1-Veterinaria/src/ar/edu/ort/tp1/parcial1/Parcial1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ar.edu.ort.tp1.parcial1.Parcial1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ORT-TP1-sim-p1-2021c1-Veterinaria"/>
</launchConfiguration>
